*{ box-sizing: border-box; }

.col-1{ width: 8.33% }
.col-2{ width: 16.66% }
.col-3{ width: 25% }
.col-4{ width: 33.33% }
.col-5{ width: 41.66% }
.col-6{ width: 50% }
.col-7{ width: 58.33% }
.col-8{ width: 66.66% }
.col-9{ width: 75% }
.col-10{ width: 83.33% }
.col-11{ width: 91.66% }
.col-12{ width: 100% }
[class*='col']{
	float: left;
}
.row:after{
	content: '';
	clear: both;
	display: block;
}

body{
	margin: 0;
	padding: 0;
	background-color: #cccccc;
}

.container{
	height: 960px;
	width:1000px;
	/*background-color: blue;*/
	margin: auto;
}
.header{
	height: 100px;
	background-color: #333333;
	position: relative;
}
/*.header h1{
	color: white;
	position: absolute;
	top: 10px;
}*/
.header img{
	margin-top: 28px;
	margin-left: 22px;
}

.nav{
	height: 50px;
	background-color: #666666;
}
.nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul li{
	float: left;
}
.nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	width: 77px;
	display: block;
	padding:17px 0 0 20px;
	border-right: 1px solid #333333;
	height: 50px;
}
.main{
	height: 800px;
	background-color: #ffffff;
	padding-right: 19px;
	padding-left: 21px;
}

.main1{
	height: 240px;
	position: relative;
	top:40px;
}
.main-box{
	width: 160px;
	height: 160px;
	background-color: #dddddd;
	float: left;
}
.main-content{
	width: 410px;
	height: 160px;
	float: left;
	margin-left: 19px;
}
.main-content a{
	color: #f68a2f;
	text-decoration:none;
	font-weight: bold;
}

.border{
	border-top: 1px solid #333333;
}

.sidebar{
	height: 800px;
	background-color: #e5e5e5;
}

.links{
	margin-top: 40px;
	margin-left: 19px;
	margin-right: 20px;
}

.links ul{
	list-style: none;
	margin:0;
	padding:0;
}

.links ul li{
	padding: 10px;
}

.links ul li a{
	text-decoration:none;
	color:#f68a2f;
}

.widgets{
	margin-left: 19px;
	margin-right: 20px;
}

.widgets p {
	color: #333333;
}

.footer{
	height: 50px;
	background-color: #333333;
}

.footer p{
	font-size: 12px;
	color: #fff;
	margin-left: 40%;
	margin-top: 21px;
}

.footer p span{
	color: #f68a2f;
}